# **Ciência de Dados para Finanças** <p>
**por: @Odemir Depieri Jr** - [Linkedin](https://www.linkedin.com/in/odemir-depieri-jr/) <p>
**por: @Ronisson Lucas Calmon da Conceição** - [Linkedin](https://www.linkedin.com/in/ronisson-lucas-calmon-da-concei%C3%A7%C3%A3o-7aa884202/) <p>
[Página do Curso](https://)

# Módulo 1 - Programação em Python

Nesse módulo vamos estudar a sintaxe nativa do Python. <p>

**O que é Python?** <p>
Python é uma linguagem de programação popular.Foi criado por Guido van Rossum e lançado em 1991.

**Python pode ser usado para:**

1.   Inteligência Artificial;
2.   Machine Learning;
3.   Desenvolvimento de Software;
4.   Desenvolvimento de aplicativos;
5.   Automações (RPA);
6.   IoT (internet das coisas);
7.   Muitas outras.

# **1. - Sintaxe básica** <p>
Podemos utilziar ' ' (aspas simples) <p>
Podemos utilziar " " (aspas duplas) <p>
Utilizando o \n para pular uma linha na impressão do valor <p>
Usamos o hastgag # para comentar algo

In [ ]:
# Sintaxe básica
print('Olá Mundão!!! \n')
print("Olá Mundão!!!")

Olá Mundão!!!

Olá Mundão!!!

#2 . - Operadores matemáticos <p>
Os operadores são usados ​​para realizar operações em variáveis ​​e valores:
1. Soma
2. Subtração
3. Multiplicação
4. Divisão
5. Exponenciação
6. Resto da Divisão
7. Divisão de Chão

In [ ]:
# Operadores para cálculos
Soma = 1 + 2
Subtração = 1 - 1
Multiplicação = 2 * 10
Divisão = 10 / 2
Exponenciação = 2 ** 2
Resto_Divisao = 9 % 4
Divisao_Chão = 9 // 4

# Print formatado
print( 'Somar:{}'.format(Soma) )
print( 'Subtração:', Subtração )
print( f'Multiplacação: {Multiplicação}' )

print( 'Divisão', Divisão )
print( 'Exponenciação: {}' .format(Exponenciação) )
print( 'Resto_Divisao', Resto_Divisao )
print( 'Divisao_Chão: {}'.format(Divisao_Chão) )
print( 'Varios elementos: {}, {}, {}'.format(Soma, Subtração, Divisão) )

Somar:3
Subtração: 0
Multiplacação: 20
Divisão 5.0
Exponenciação: 4
Resto_Divisao 1
Divisao_Chão: 2
Varios elementos: 3, 0, 5.0

# 3º Variáveis
Variáveis ​​são contêineres para armazenar valores de dados.<p>
Uma variável é criada no momento em que você atribui um valor a ela.

In [ ]:
# Tipos de Variaveis
Inteiro_Exemplo_1 = int ( 100 )
Inteiro_Exemplo_2 = 100

Flutuante_Exemplo_1 = 10.50
Flutuante_Exemplo_2 = float( 10.50 )

Palavra_Exemplo_1 = 'Qualquer Palavra'
Palavra_Exemplo_2 = str( 'Qualquer Palavra' )

Booleando_Exemplo_1 = True
Booleando_Exemplo_2 = False

print( Inteiro_Exemplo_1, Inteiro_Exemplo_2, '\n' )
print( Flutuante_Exemplo_1, Flutuante_Exemplo_2, '\n' )
print( Palavra_Exemplo_1, Palavra_Exemplo_2, '\n' )
print( Booleando_Exemplo_1, Booleando_Exemplo_2, '\n' )

100 100

10.5 10.5

Qualquer Palavra Qualquer Palavra

True False

# **4º Tipos de Dados**
1. Listas - São criadas usando [ ] (Colchetes)
2. Tuplas - São criadas usando ( ) (Parenteses)
3. Dicionários - São criadas usando { } (Chaves) <p>
Esses tipos de dados podem receber qualquer tipo de informação, inclusive Operações Aritméticas

In [ ]:
# Tipos de Dados
Lista_Exemplo_1 = [1, 2, 3, 4, 5]
Lista_Exemplo_2 = ['Nome', 'Quarto', 'Morango', 4, 5]
Lista_Exemplo_3 = [1, 'Quarto', True, False]

# Tuplas são imutaveis (Não modifica)
Tupla_Exemplo_1 = ( 2, 3, 4, 6 )
Tupla_Exemplo_2 = ( 'Odemir', 'Depieri', 4 )

# Dicionário são para organizar os dados (Chave, Valor)
Dicionario = { 'Nome':'Odemir', 'Idade':29 }

print( Lista_Exemplo_1 )
print( Lista_Exemplo_2 )
print( Lista_Exemplo_3, '\n' )

print( Tupla_Exemplo_1 )
print( Tupla_Exemplo_2, '\n' )

print( Dicionario )

[1, 2, 3, 4, 5]
['Nome', 'Quarto', 'Morango', 4, 5]
[1, 'Quarto', True, False]

(2, 3, 4, 6)
('Odemir', 'Depieri', 4)

{'Nome': 'Odemir', 'Idade': 29}

# 5º Nomeação de variáveis <p>
Podemos nomear variáveis e tipos de dados de diversas formas:
1. Declarar as variáveis em uma única linha de comando;
2. Atribuir um valor à diversas variáveis;
3. Declarar usando uma Lista;
4. Combinar variáveis;
5. Operar com operadores matemáticos;
6. Muitos outros.

In [ ]:
# Nomeando Variaveis | Exemplo 1
Laranja, Melão, Limão = 1, 2, 3
print( Laranja, Melão, Limão, '\n' )

# Nomeando Variaveis | Exemplo 2
Morango = Uva = Kiwi = 100
print( Morango, Uva, Kiwi, '\n' )

# Nomeando Variaveis | Exemplo 3
# Criando uma lista
Carros = ['VW', 'GM', 'Ford']

# Nomeando as variaveis com a lista
Marca_01, Marca_02, Marca_03 = Carros
print( Marca_03, '\n' )

# Combinando Variaveis | Exemplo 1
Nome = 'Odemir'
Sobrenome = 'Depieri'
Nome_Completo = Nome + ' ' + Sobrenome
print( Nome_Completo, '\n' )

# Combinando Variaveis | Exemplo 2
Dolar = 5.40
Imposto = 0.20
Valor_Liquido = Dolar - ( Dolar * Imposto )
print( Valor_Liquido )

1 2 3

100 100 100

Ford

Odemir Depieri

4.32

# **6º Tipo da Informação**
Na programação, o tipo de dados é um conceito importante.
Variáveis ​​podem armazenar dados de diferentes tipos, e diferentes tipos podem fazer coisas diferentes.
O Python tem os seguintes tipos de dados integrados por padrão, nestas categorias:
1. Text Type: *str*
2. Numeric Types:	*int*, *float*, *complex*
3. Sequence Types:	*list*, *tuple*, *range*
4. Mapping Type:	*dict*
5. Set Types:	*set*, *frozenset*
6. Boolean Type:	*bool*
7. Binary Types:	*bytes*, *bytearray*, *memoryview*

In [ ]:
# Criando tipos de informações
String = str('Olá Mundo!')
Inteiro = int(10)
Flutuante = float(10.99)
Complex = complex(1j)
Lista = list( ('Maça', 'Morango', 'Pera') )
Tupla = tuple( ('Maça', 'Morango', 'Pera') )
Range = range(6)
Dicionario = dict(nome='Odemir', age=29)
Set = set( ('Maça', 'Morango', 'Pera') )
Fronzet = frozenset( ('Maça', 'Morango', 'Pera') )
Boleano = bool(5)
Bytes = bytes(5)
ByteArray = bytearray(5)
Memoryview = memoryview( bytes(5) )

from datetime import datetime
Data = datetime.today().date()

# Mostrando os Valores
print( type(String) )
print( type(Inteiro) )
print( type(Flutuante) )
print( type(Complex) )
print( type(Lista) )
print( type(Tupla) )
print( type(Range) )
print( type(Dicionario) )
print( type(Set) )
print( type(Fronzet) )
print( type(Boleano) )
print( type(Bytes) )
print( type(ByteArray) )
print( type(Memoryview) )
print( type(Data) )

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'datetime.date'>

# **7º Comando Round**
Quando trabalhamos com números flutuantes, podemos arredondar o valor usando um comando nativo do Python<p>

round( valor, número de casas)

In [ ]:
# Comando Round
# Metodo round, arredonda valores

Valor_Exemplo = 12.123456789

print( round( Valor_Exemplo, 1 ) )
print( round( Valor_Exemplo, 2 ) )
print( round( Valor_Exemplo, 3 ) )
print( round( Valor_Exemplo, 5 ) )

12.1
12.12
12.123
12.12346

# **8º Comando Len**
A função len() retorna a quantidade de elementos de qualquer lista em Python, essa é mais uma função built-in e disponível em qualquer parte dos nossos códigos.

In [ ]:
Lista = [1, 2, 3, 4, 5]
Dicionario = { 'Nome':'Odemir', 'Idade':29, 'Vip':False }
Tupla = (10, 20)
String = 'Olá Mundão!'

print( len(Lista) )
print( len(Dicionario) )
print( len(Tupla) )
print( len(String) )

5
3
2
11

# **9º Fatiamento de Strings**
Strings são listas de bytes represetando caracteres.<p>
Podemos acessar suas posições usando Colchetes<p>
String [Posição Inicial: Posição Final]

In [ ]:
# Strings
Minha_String = 'Aprender python é Top!'
print( type(Minha_String) )
print( len(Minha_String) )

print( Minha_String[0] )
print( Minha_String[5] )
print( Minha_String[-1] )
print( Minha_String[-10:] )
print( Minha_String[0:10] )

<class 'str'>
22
A
d
!
hon é Top!
Aprender p

# **10° Manipulação de Strings**<p>
Um tipo de dados bastante usado no dia a dia são as strings, ou cadeias de caracteres (ou sequências de caracteres). O tipo de dados string, ou str como é chamado em Python, possui várias operações úteis associadas a ele. Essas operações tornam Python uma linguagem bastante propícia para manipulação de textos.
Algumas funções mais utilizadas:

1. replace()
2. startswith()
3. endswith()
4. count()
5. capitalize()
6. isdigit()
7. isalnum()
8. upper()
9. lower()
10. find ()
11. strip()
12. split()

In [ ]:
# Imprimindo uma string.
String = 'Olá Mundão!'
print( String )

# Tipo de uma string.
print( type( String ) )

# Tamanho de uma string.
print( len( String ) )

# Concatenação
print( String + ' Estou aprendendo Python...' )

# Substitui uma substring por alguma outra coisa.
Substituir = String.replace('Mundão', 'Mundo Louco :X')
print( Substituir )

# A string s começa com "Olá"?
print( String.startswith('Olá') )

# A string termina com "mundo"?
print( String.endswith('mundo') )

# Quantas ocorrências da palavra "a" a string possui?
print( String.count('M') )

# Capitalize - Transformar a primeira letra da primeira palavra em maiúscula.
String_02 = 'odemir depieri'
print( String_02.capitalize() )

# Verificar se uma string só possui números.
String_03 = '123456789'
String_04 = '123456789ABC'
print( String_03.isdigit() )
print( String_04.isdigit() )

# Verificar se uma string é alfanumérica (só possui letras e números).
print( '12345abc'.isalnum() )

# Transformar tudo em Maiusculo
print( String.upper() )

# Transformar tudo em Minúsculo
print( String.lower() )

# Procurar algo na string
print( String.find('!') )

# Removendo espaçoes antes e fim da palavra
String_05 =' Olá Mundão! '
print( String_05.strip() )

# Removendo espaçoes antes e fim da palavra
String_06 ='Loja 1 vendou 10, Loja 2 vendou 20, Loja 3 vendou 30 '
print( String_06.split(',') )

Olá Mundão!
<class 'str'>
11
Olá Mundão! Estou aprendendo Python...
Olá Mundo Louco :X!
True
False
1
Odemir depieri
True
False
True
OLÁ MUNDÃO!
olá mundão!
10
Olá Mundão!
['Loja 1 vendou 10', ' Loja 2 vendou 20', ' Loja 3 vendou 30 ']

# **11º Comando Input**
A função input() recebe como parâmetro uma string que será mostrada como auxílio ao usuário, geralmente o informando que tipo de dado o programa está aguardando receber.

input()

In [ ]:
# Comando input
# Enviar uma informação momentânea

Nome = input('Qual seu nome? ')
Idade = input('Quantos anos você tem? ')

print('Seu nome é:', Nome)
print('Sua idade:', Idade)

Qual seu nome? Odemir
Quantos anos você tem? 29
Seu nome é: Odemir
Sua idade: 29

# **12º Operadores de Comparação**
Os operadores de comparação são usados ​​para comparar dois valores:
1. '==' ( Igual a )
2. '!=' ( Diferente )
3. '>' ( Maior )
4. '<' ( Menor )
5. '>=' ( Maior igual )
6. '<=' ( Menor igual )

In [ ]:
# Operadores de Comparações - Parte 1
Igual = '=='
Diferente = '!='
Maior = '>'
Maior_Igual = '>='
Menor = '<'
Menor_Igual = '<='

print('8 é maior que 7:', 8 > 7 )
print('8 é menor que 7:', 8 < 7 )
print('8 é igual 7:', 8 == 7 )
print('10 é maior 10:', 10 > 10 )
print('10 é maior ou igual à 10:', 10 >= 10 )
print('10 é menor 10:', 10 < 10 )
print('10 é menor ou igual à 10:', 10 <= 10 )

8 é maior que 7: True
8 é menor que 7: False
8 é igual 7: False
10 é maior 10: False
10 é maior ou igual à 10: True
10 é menor 10: False
10 é menor ou igual à 10: True

# **13º Operadores Lógicos**
Os operadores lógicos são usados ​​para combinar instruções condicionais:
1. and (Retorna True se ambas as declarações forem verdadeiras)
2. or (Retorna True se uma das declarações for verdadeira)

In [ ]:
# Operadores de Comparações - Parte 2
And = 'and'
Ou = 'or'
Negação = 'not'

print('8 é maior que 7 e 7 maior que 8:', 8 > 7 and 7 > 8 )
print('8 é maior que 7 e 7 menor que 8:', 8 > 7 and 7 < 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 == 7 or 7 == 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 > 7 or 7 > 8 )

8 é maior que 7 e 7 maior que 8: False
8 é maior que 7 e 7 menor que 8: True
8 é maior que 7 ou 7 menor que 8: False
8 é maior que 7 ou 7 menor que 8: True

# **14º Operadores de Identidade**
Os operadores de identidade são usados ​​para comparar os objetos, não se forem iguais, mas se forem realmente o mesmo objeto, com a mesma localização de memória:
1. is (Retorna True se ambas as variáveis ​​forem o mesmo objeto)
2. is not (Retorna True se ambas as variáveis ​​não forem o mesmo objeto)

In [ ]:
String_01 = str('Olá Mundão')
String_02 = str('Olá Mundão')

print( String_01 is String_01 )
print( String_01 is String_02 )
print( String_01 == String_02 )
print( type(String_01) is type(String_02) )

True
False
True
True

# **15º Operadores de Associação**
Os operadores de associação são usados ​​para testar se uma sequência é apresentada em um objeto:
1. in (Retorna True se uma sequência com o valor especificado estiver presente no objeto)
2. not in (Retorna True se uma sequência com o valor especificado não estiver presente no objeto)

In [ ]:
Lista_Ações = ['Magalu', 'Via', 'Assai', 'Carrefour']

print( 'Via' in Lista_Ações )
print( 'Via' not in Lista_Ações )

True
False

# **16º Manipulando Listas**
As listas são usadas para armazenar vários itens em uma única variável.

As listas são um dos 4 tipos de dados internos do Python usados ​​para armazenar coleções de dados, os outros 3 são Tuple , Set e Dictionary , todos com qualidades e usos diferentes.<p>
Comandos mais utilizados:
1. append() - Para adicionar um item ao final da lista
2. len() - Calcular o tamanho da lista
3. [  ] - Acessar posições
4. del() - Exlcuir um elemtno
5. clear() - Limpar a lista
6. insert() - Para inserir um item de lista em um índice especificado
7. extend() - Anexar elementos de outra lista à lista atual
8. remove() - Remove o item especificado
9. pop() - Remove o índice especificado.
10. sort() - Ordenar os valores
11. copy() - Faz uma copia da Lista
12. index() - Retorna o index do elemento da lista

In [ ]:
# Manipulando dados dentro das Lista
Lista_Vazia = []
print('Lista antes:', Lista_Vazia, '\n' )

# Inserindo valores na Lista
Lista_Vazia.append(1)
Lista_Vazia.append(2)
Lista_Vazia.append(3)
print('Lista Depois:', Lista_Vazia, '\n' )

# Tamanho da lista
print('Lista contém:', len(Lista_Vazia), 'elementos', '\n' )

# Tamanho da lista
print('Acessando o 1º Elemento:', Lista_Vazia[0] )
print('Acessando o 2º Elemento:', Lista_Vazia[1] )
print('Acessando o último Elemento:', Lista_Vazia[-1] )
print('Acessando um periodo:', Lista_Vazia[0:2], '\n' )

# Excluindo valor na lista
del Lista_Vazia[1]
print('Depois da exclusão:', Lista_Vazia, '\n' )

# Limpando a lista
print('Depois da Limpeza:', Lista_Vazia.clear(), '\n' )

# Inserindo um valor com uma posição
Lista_Inserir = ['Posição 1', 'Posição 2', 'Posição 3']
Lista_Inserir.insert( 0, 'Posição 4' )
print( Lista_Inserir, '\n' )

# Inserindo uma lista na outra
Lista_Inserir_01 = ['Posição 1', 'Posição 2', 'Posição 3']
Lista_Inserir_02 = ['Posição 4', 'Posição 5', 'Posição 6']
Lista_Inserir_01.extend( Lista_Inserir_02 )
print( Lista_Inserir_01, '\n' )

# Removendo itens especifico pelo nome
Lista_Inserir_01.remove('Posição 6')
print( Lista_Inserir_01, '\n' )

# Removendo itens pelo index
Lista_Inserir_01.pop(0)
print( Lista_Inserir_01, '\n' )

# Ordenar uma lista
Lista_Alfabetica = ['Z', 'C', 'A', 'B', 'L']
Lista_Alfabetica.sort()
print( Lista_Alfabetica, '\n' )

# Ordenar uma lista de forma inversa
Lista_Alfabetica.sort( reverse=True )
print( Lista_Alfabetica, '\n' )

# Copiar uma Lista
Lista_Alfabetica_02 = Lista_Alfabetica.copy()
print( Lista_Alfabetica_02, '\n' )

# Indetificar o Index do elemtno na lista
print( Lista_Alfabetica_02.index('L'), '\n' )

Lista antes: []

Lista Depois: [1, 2, 3]

Lista contém: 3 elementos

Acessando o 1º Elemento: 1
Acessando o 2º Elemento: 2
Acessando o último Elemento: 3
Acessando um periodo: [1, 2]

Depois da exclusão: [1, 3]

Depois da Limpeza: None

['Posição 4', 'Posição 1', 'Posição 2', 'Posição 3']

['Posição 1', 'Posição 2', 'Posição 3', 'Posição 4', 'Posição 5', 'Posição 6']

['Posição 1', 'Posição 2', 'Posição 3', 'Posição 4', 'Posição 5']

['Posição 2', 'Posição 3', 'Posição 4', 'Posição 5']

['A', 'B', 'C', 'L', 'Z']

['Z', 'L', 'C', 'B', 'A']

['Z', 'L', 'C', 'B', 'A']

1

# **17º Pacote Externo - Datetime**
O datetime módulo fornece classes para manipulação de datas e horas.

In [ ]:
import datetime

# Dia de Hoje
Dia_Hoje = datetime.datetime.today().date()
print( f'Hoje é: {Dia_Hoje} \n' )

# Construindo uma Data
Data = datetime.date(2020, 10, 1)
print( f'Construindo uma Data {Data} \n' )

# Acessando os atributos da DAta
Ano = Data.year
Mes = Data.month
Dia = Data.day
print(f'Hoje é dia {Dia} do mês {Mes} do ano de {Ano} \n')

# Operação
Intervalo = Data - Dia_Hoje
print(f'Já ocorreu {Intervalo} dias \n' )

# Ajustando o formato
Novo_Formato = Dia_Hoje.strftime('%d/%m/%y')
print( f'Hoje é: {Novo_Formato} \n' )

# Aumentar dias ou diminuir
print( f'Somando 30 dias, {Dia_Hoje + datetime.timedelta(days = 30)}' )
print( f'Diminuindo 30 dias, {Dia_Hoje - datetime.timedelta(days = 30)}' )

Hoje é: 2022-03-15

Construindo uma Data 2020-10-01

Hoje é dia 1 do mês 10 do ano de 2020

Já ocorreu -530 days, 0:00:00 dias

Hoje é: 15/03/22

Somando 30 dias, 2022-04-14
Diminuindo 30 dias, 2022-02-13

# **18° Pacote Externo - Time**
Este módulo fornece várias funções relacionadas ao tempo

In [ ]:
# Importar a Lib
import time

print('Esse print foi rápido!')
time.sleep(2.5)
print('Esse print aconteceu depois de 2.5 segundos \n')

# Capturar o local agora
Agora = time.localtime()
print( type(Agora) )
print( Agora )
print( time.strftime('%m/%d/%Y, %H:%M:%S', Agora ), '\n' )

# Converter uma string para time
Time_Texto = '21 June, 2018'
Conversao = time.strptime(Time_Texto, '%d %B, %Y')
print(Conversao)

Esse print foi rápido!
Esse print aconteceu depois de 2.5 segundos

<class 'time.struct_time'>
time.struct_time(tm_year=2022, tm_mon=3, tm_mday=15, tm_hour=11, tm_min=3, tm_sec=36, tm_wday=1, tm_yday=74, tm_isdst=0)
03/15/2022, 11:03:36

time.struct_time(tm_year=2018, tm_mon=6, tm_mday=21, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=172, tm_isdst=-1)

# 19º Pacote Externo - Math
**negrito**O Python possui um conjunto de funções matemáticas integradas, incluindo um extenso módulo matemático, que permite realizar tarefas matemáticas em números.

In [ ]:
import math

# Sem necessidade do math

# Minino e Maximo
Tupla = (10, 15, 5, 8, 20)
print( min(Tupla) )
print( max(Tupla) )

# ABS  retorna o valor absoluto (positivo) do número especificado
print( abs(-7.25) )

# Retorna a potencia (seria o msm que 3 * 3 * 3 * 3)
print( pow(3, 4) )

# Raiz quadrada
Raiz_Quadrada = math.sqrt( 81 )
print( Raiz_Quadrada )

# Arrendondamento

# Arredonda um número para cima até o número inteiro mais próximo
print( math.ceil(1.4) )

# Arredonda um número para baixo até o número inteiro mais próximo
print( math.floor(1.4) )

# retorna o numero de PI
print( math.pi )

5
20
7.25
81
9.0
2
1
3.141592653589793

# **20° Pacote Externo - Random**
Este módulo implementa geradores de números pseudo-aleatórios para várias distribuições.

In [ ]:
# import random
import random

# Lista numerico
Lista_Numerica = [1, 2, 3, 4, 5, 6]
print(f'O número sorteado foi: {random.choice(Lista_Numerica)} \n')

# Sortear uma letra da palavra
Palavra = 'Odemir'
print(f'A Letra sorteada foi: {random.choice(Palavra)} \n')

# Numero aleatorio entre 0 e 1
Numero_Aleatorio = random.random()
print(f'O Numero gerado foi: {Numero_Aleatorio} \n')

Numero_Aleatorio_01 = random.randint(0, 10)
print(f'Número aleatorio entre 1 e 10 foi: {Numero_Aleatorio_01}')

O número sorteado foi: 5

A Letra sorteada foi: O

O Numero gerado foi: 0.6298082881277355

Número aleatorio entre 1 e 10 foi: 1

# **21° Pacote Externo - Statistics**
Este módulo fornece funções para calcular estatísticas matemáticas de dados numéricos e interage com as listas

In [ ]:
# Importando a Statistics para operar nas listas
import statistics

# Retirando a média
Media = statistics.mean( [1, 2, 3, 4, 4] )
print(f'A media seria: {Media} \n')

Mediana = statistics.median( [1, 2, 3, 4, 4] )
print(f'A mediana seria: {Mediana} \n')

Moda = statistics.mode( [1, 2, 3, 4, 4] )
print(f'A moda seria: {Moda}')

A media seria: 2.8

A mediana seria: 3

A moda seria: 4

# **22º Condição If**
if é a declaração mais simples de tomada de decisão. <p>Ele é usado para decidir se uma determinada instrução ou bloco de instruções será executado ou não, ou seja, se uma determinada condição for verdadeira, um bloco de instruções será executado, caso contrário, não.

if condição :<p>
*   declarações a serem executadas se
*   condição é verdadeira

In [ ]:
# Condição se a pessoa tiver menor de 18 anos, ela nao no sistema.
Idade = 20

if Idade >= 18:
  print('você é maior de idade!')

você é maior de idade!

In [ ]:
# Condição IF + ELSE

Idade = int( 15 )

if Idade >= 18:
  print('Você é de maior!')

else:
  print('Você é menor de Idade!!! gugudada')

Você é menor de Idade!!! gugudada

In [ ]:
# Condição IF + ELSE + ELIF

Idade = int( 14 )

if Idade > 18:
  print('Você é de maior!')

elif Idade == 18:
  print('Opa! Welcome the jungle!!! ')

elif Idade < 18 and Idade >= 14:

  if Idade % 2 == 0:
    print('Quase um adulto!!! Aproveita !!!!!!!!!!')

else:
  print('Você é menor de Idade!!! gugudada')

Quase um adulto!!! Aproveita !!!!!!!!!!

# **23º Estrutura de Loop FOR**
O loop For do Python é usado para travessia seqüencial, ou seja, é usado para iterar sobre um iterável como string, tupla, lista, etc. Ele se enquadra na categoria de iteração definida . Iterações definidas significam que o número de repetições é especificado explicitamente com antecedência. <p>
for variável in objeto:
*   loop

In [ ]:
# For [ Loop ]
for QualquerCoisaQueVoceQuiser in range(10):
  print( QualquerCoisaQueVoceQuiser ** 2  )

0
1
4
9
16
25
36
49
64
81

In [ ]:
# For + Lista

Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia', 'Equador',
                'Colombia', 'Suriname', 'Guiane', 'Goianai France']

for Loop in Lista_Paises:
  print( Loop )

Brasil
Argentina
Uruguai
Chile
Paraguai
Bolivia
Equador
Colombia
Suriname
Guiane
Goianai France

In [ ]:
# For + Lista
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia',
                'Equador', 'Colombia', 'Suriname, Guiane, Goianai France']

for Loop in range( len(Lista_Paises) ):
  print( Lista_Paises[Loop] )

Brasil
Argentina
Uruguai
Chile
Paraguai
Bolivia
Equador
Colombia
Suriname, Guiane, Goianai France

In [ ]:
# For + Lista + IF + enumerate
for Posicao, P in enumerate( Lista_Paises ):
  print( Posicao / 4 , P )

0.0 Brasil
0.25 Argentina
0.5 Uruguai
0.75 Chile
1.0 Paraguai
1.25 Bolivia
1.5 Equador
1.75 Colombia
2.0 Suriname, Guiane, Goianai France

In [ ]:
# for + LISTa + IF + RANGE
Lista_Numerica = [ Numero for Numero in range(1, 100, 5) ]
Armazenar = []

for x in Lista_Numerica:

  if x % 2 == 0:
    Armazenar.append( x )

print( Armazenar )

from pandas import DataFrame
print( DataFrame(Armazenar) )

[6, 16, 26, 36, 46, 56, 66, 76, 86, 96]
    0
0   6
1  16
2  26
3  36
4  46
5  56
6  66
7  76
8  86
9  96

In [ ]:
# For + Lista + Dicionario

Lista = [ 'Brasil', 'Argentina', 'Uruaguai', 'Paraguai' ]

Dicionario = {
    'Brasil' : 'Real',
    'Argentina' : 'Peso ARG',
    'Uruaguai' : 'Peso URU',
    'Paraguai' : 'Guarany'
}

for Paises in Lista:

  if Paises == 'Brasil':
    print( f'Moeda do {Paises} é { Dicionario[Paises] }' )
    print('Mooeda do', Paises, 'é', Dicionario[Paises] )
    print('Mooeda do ' + str (Paises) + ' é ' + str(Dicionario[Paises] ) )
  else:
    pass

Moeda do Brasil é Real
Mooeda do Brasil é Real
Mooeda do Brasil é Real

# **24º Estrutura de Loop WHILE**
Python While Loop é usado para executar um bloco de instruções repetidamente até que uma determinada condição seja satisfeita. E quando a condição se torna falsa, a linha imediatamente após o loop no programa é executada. While loop se enquadra na categoria de iteração indefinida . A iteração indefinida significa que o número de vezes que o loop é executado não é especificado explicitamente com antecedência.<p>
while expressão:
*   loop

In [ ]:
# While
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# While
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

  if Loop == 5:

    for c in range(10):
      print(c)

0
1
2
3
4
0
1
2
3
4
5
6
7
8
9
5
6
7
8
9
10

In [ ]:
# While True
# Joginho
import random

while True:

  Jogador1 = random.randint(0, 6)
  Jogador2 = random.randint(5, 10)

  if Jogador1 > Jogador2:
    print(Jogador1, '-', Jogador2, 'FINALMENTE !!!!!!!!!!!')
    break

  else:
    print(Jogador1, '-', Jogador2)

5 - 10
6 - 8
6 - 10
3 - 9
5 - 5
4 - 10
4 - 6
6 - 7
3 - 10
3 - 5
5 - 6
2 - 9
5 - 6
6 - 6
2 - 9
0 - 7
2 - 6
0 - 5
1 - 9
1 - 10
5 - 10
3 - 10
5 - 5
5 - 5
2 - 8
2 - 5
2 - 7
4 - 5
4 - 8
1 - 10
4 - 7
6 - 8
3 - 7
6 - 8
1 - 10
2 - 7
0 - 8
3 - 8
0 - 8
2 - 9
2 - 5
5 - 8
4 - 10
1 - 5
0 - 7
4 - 6
0 - 7
5 - 10
4 - 8
4 - 8
4 - 5
6 - 9
0 - 8
5 - 7
2 - 9
6 - 5 FINALMENTE !!!!!!!!!!!

# **25º Estrutura de Quebra BREAK e CONTINUE**
O uso de loops no Python automatiza e repete as tarefas de maneira eficiente. Mas, às vezes, pode surgir uma condição em que você deseja sair completamente do loop, pular uma iteração ou ignorar essa condição. Isso pode ser feito por instruções de controle de loop . As instruções de controle de loop alteram a execução de sua sequência normal. Quando a execução sai de um escopo, todos os objetos automáticos que foram criados nesse escopo são destruídos. Python suporta as seguintes instruções de controle.

In [ ]:
# For + Lista + IF + Break
Lista_Paises = ['Brasil', 'Argentina', 'Uruguai', 'Chile', 'Paraguai', 'Bolivia',
                'Equador', 'Colombia', 'Suriname, Guiane, Goianai France']
Loop = 0

for P in Lista_Paises:

  if P == 'Chile':
    print('Chegou')
    break

  else:
    pass

  Loop += 1
  print( Loop )

1
2
3
Chegou

In [ ]:
# While
Loop = 0

while Loop <= 10:
  print( Loop )
  Loop += 1

  if Loop == 5:

    for c in range(10):
      print(c)

    break

0
1
2
3
4
0
1
2
3
4
5
6
7
8
9

In [ ]:
# Loop de 1 a 10
for i in range(1, 11):

    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 5:
      continue
      print(f'{i}º interação --> Estou no IF')

    else:
        # otherwise print the value
        # of i
        print(f'{i}º Continue continua sempre!!!!')
        #print(i)

1º Continue continua sempre!!!!
2º Continue continua sempre!!!!
3º Continue continua sempre!!!!
4º Continue continua sempre!!!!
6º Continue continua sempre!!!!
7º Continue continua sempre!!!!
8º Continue continua sempre!!!!
9º Continue continua sempre!!!!
10º Continue continua sempre!!!!

# **26º Estrutura de Funções**
Uma função é um bloco de código que só é executado quando é chamado.<p>
Você pode passar dados, conhecidos como parâmetros, para uma função.<p>
Uma função pode retornar dados como resultado.

In [ ]:
# Funções simples
def Somar(Valor1, Valor2):
  Soma = Valor1 + Valor2
  print(Soma)

Somar(-67.900, 10.121233)

-57.778767

In [ ]:
def Boas_Vindas():
  print('********* PYTHON **************')

Boas_Vindas()

********* PYTHON **************

In [ ]:
from random import randint
# Função
def Sobrenome( Algum_Texto, Numero ):
  print(f'Nome dele é: {Algum_Texto}')

  if Numero >= 10:
    print('Maior que 10')
  else:
    print('NADA!')

Lista_Nomes = ['Odemir', 'Luigi', 'Mariana']

for Nome in Lista_Nomes:
  Sobrenome( Nome, randint(1,12) )

Nome dele é: Odemir
NADA!
Nome dele é: Luigi
NADA!
Nome dele é: Mariana
NADA!

# **27º Estrutura Lambda**
Uma função lambda é uma pequena função anônima.<p>
Uma função lambda pode receber qualquer número de argumentos, mas pode ter apenas uma expressão.

In [ ]:
# Função
Funcao = lambda valor: valor + 10
print( Funcao( 10 ) )

Funcao_02 = lambda valor1, valor2 : valor1 + valor2
print( Funcao_02( 100 , 100 ) )

20
200

In [ ]:
# Função Lambda
Nao_Faxa_isso = lambda Qualquer_Valor: 'Verdadeiro' if Qualquer_Valor % 2 == 0 else 'Falso'
#Nao_Faxa_isso = lambda x: True if x % 2 == 0 else Falso
Nao_Faxa_isso( 100 )

'Verdadeiro'

# **28º Estrutura TRY**
O **try** permite testar um bloco de código quanto a erros.<p>
O **except** permite que você lide com o erro.<p>
O **else** permite executar código quando não há erro. <p>
O **finally** permite que você execute código, independentemente do resultado dos blocos try e except. <p>

In [ ]:
#
try:
  0 / 0
except:
  print('Deu Ruim!!!')

Deu Ruim!!!

In [ ]:

try:
  print(Algo_Coisa_Que_Nao_Defini)

except NameError:
  print("Ops deu algum erro!")

finally:
  print("Vou ser executado de qualquer forma")

Ops deu algum erro!
Vou ser executado de qualquer forma

# 29° Estrutura de Classes/Objetos
Python é uma linguagem de programação orientada a objetos.<p>
Quase tudo em Python é um objeto, com suas propriedades e métodos.<p>
Uma classe é como um construtor de objetos, ou um "projeto" para criar objetos.

In [ ]:
class Pessoa:

  # Metodo Construtor
  def __init__(self, Nome, Idade):
    self.Nome = Nome
    self.Idade = Idade

  def Boas_Vindas(self):
    print('Olá sem benvindo: ', self.Nome)

  def Recusado(self):
    print('Seu acesso foi recusado!')

  # Função
  def Maior_Idade(self):
    if self.Idade >= 18:
      print('Usuário é maior de idade')
      self.Boas_Vindas()
    else:
      print('Usuário é menor de Idade')
      self.Recusado()

In [ ]:
Dados = Pessoa('Odemir', 12)

In [ ]:
Dados.Maior_Idade()

Usuário é menor de Idade
Seu acesso foi recusado!

# **30º Módulos/Pacotes**
Considere um módulo como sendo o mesmo que uma biblioteca de código.<p>
Para instalar um pacote utilize o 'pip install'

In [ ]:
import time
import datetime

In [ ]:
# !pip install pandas
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

# **31° Print formatado**
Existe diversas formas de utilizar prints no python

In [ ]:
print('Soma de 2 + 2 é:', 2 + 2 )

Soma de 2 + 2 é: 4

In [ ]:
print( f'Soma de 2 + 2 é: { round(2 + 2) }' )

Soma de 2 + 2 é: 4

In [ ]:
print('Soma de 2 + 2 é: {}'.format(2+2) )

Soma de 2 + 2 é: 4

# **Exercicios de Python para resolver!**

### 1ª Exercício ###

Escreva um programa que mostre a mensagem 'Hello World!' na tela.

In [ ]:
print('Hello World!')

Hello World!

### 2ª Exercício ###

Faça um programa que solicite um número do usuário e apresente a seguinte mensagem na tela:

"O número digitado foi [número]".

In [ ]:
num = input('Digite um número: ')
print(f'O número digitado foi {num}')

#Solução 2
num = float(input('Digite um número: '))
print(f'O número digitado foi {num}')

Digite um número: 1
O número digitado foi 1
Digite um número: 2
O número digitado foi 2.0

### 3ª Exercício ###

Escreva um programa que solicite o nome e o sobrenome do usuário. Ao final o programa deverá apresentar o nome completo do usuário na tela.

In [ ]:
nome=input('Digite seu primeiro nome: ').strip().title()
sobrenome=input('Digite seu sobrenome: ').strip().title()
print(f'{nome} {sobrenome}')

Digite seu primeiro nome: Odemir
Digite seu sobrenome: Depieri
Odemir Depieri

### 4ª Exercício ###

Faça um programa que solicite três números inteiros do usuário e imprima a soma destes.

In [ ]:
num1=int(input('Número 1: '))
num2=int(input('Número 2: '))
num3=int(input('Número 3: '))
print(f'{num1}+{num2}+{num3}={num1+num2+num3}')

Número 1: 2
Número 2: 3
Número 3: 4
2+3+4=9

### 5ª Exercício ###

Escreva um programa que solicite duas notas do usuário e apresente a média na tela da seguinte forma:

"A média das notas [nota1] e [nota2] é [média]"

In [ ]:
nota1=float(input('Nota 1: \n'))
nota2=float(input('Nota 2: \n'))
media=(nota1+nota2)/2
print(f'A média das notas {nota1} e {nota2} é {media}')

Nota 1:
2
Nota 2:
2
A média das notas 2.0 e 2.0 é 2.0

### 6ª Exercício ###

Faça um programa que calcule a raiz quadrada de um número. O usuário deve inserir um número e o programa deve mostrar na tela o resultado da raiz quadrada do número inserido.

In [ ]:
num=float(input('Digite um número: '))
print(f'A raiz quadrada de {num} é {num**(1/2)}')

Digite um número: 2
A raiz quadrada de 2.0 é 1.4142135623730951

### 7ª Exercício ###

Faça um programa que peça 5 números de ponto flutuante do usuário e apresente no final a média dos números digitados.

In [ ]:
num1=float(input('Número 1: '))
num2=float(input('Número 2: '))
num3=float(input('Número 3: '))
num4=float(input('Número 4: '))
num5=float(input('Número 5: '))
media=(num1+num2+num3+num4+num5)/5
print(f'Média: {media}')

Número 1: 1
Número 2: 2
Número 3: 3
Número 4: 4
Número 5: 5
Média: 3.0

### 8ª Exercício ###

Escreva um programa que faça a conversão de um dado valor de metro para quilômetro.

In [ ]:
num=float(input('Digite um valor em metros: '))
print(f'{num} metros equivale a {num/1000} km')

Digite um valor em metros: 100
100.0 metros equivale a 0.1 km

### 9ª Exercício ###

Escreva um programa que calcule a área de uma circunferência. O usuário deve digitar o valor do raio e ao final o programa deverá mostrar na tela a área da circunferência.

Use a fórmula: área=pi*r² , em que pi é uma constante e r o raio da circunferência.

Dica: você pode usar a biblioteca math para pegar a constante pi.

In [ ]:
from math import pi
raio=float(input('Digite o valor do raio da circunferência: '))
print(f'Área da circunferência: {pi*raio**2:.2f}')

Digite o valor do raio da circunferência: 2
Área da circunferência: 12.57

### 10ª Exercício ###

Faça um programa que peça uma temperatura em Fahrenheit (F) e converta esta temperatura para grau Celsius (C), mostrando o resultado da conversão na tela.

Use a fórmula: C = 5 * ((F-32) / 9).

In [ ]:
f=float(input('Temperatura em Fahrenheit: \n'))
c=5*((f-32)/9)
print(f'{f:.2f}° F equivale a {c:.2f}° C .')

Temperatura em Fahrenheit:
10
10.00° F equivale a -12.22° C .

### 11ª Exercício ###

Escreva um programa que peça dois números e apresente a divisão e multiplicação entre eles. A tela de apresentação deverá seguir o seguinte formato:

"[número1]x[número2]=[multiplicação]"

"[número1]/[número2]=[divisão]"

In [ ]:
num1=float(input('Número 1: '))
num2=float(input('Número 2: '))
print(f'{num1}x{num2}={num1*num2}')
print(f'{num1}/{num2}={num1/num2}')

Número 1: 2
Número 2: 2
2.0x2.0=4.0
2.0/2.0=1.0

### 12ª Exercício ###

Escreva um programa que receba o nome, sobrenome e idade do usuário e apresente a seguinte mensagem na tela:

"Seja bem-vindo [nome] [sobrenome]."

"Você possui [idade] anos de idade."



No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e depois da string, enquanto que o último permite colocar a string no formato titlecased (capitaliza a string).

In [ ]:
nome=input('Nome: ')
sobrenome=input('Sobrenome: ')
idade=int(input('Idade: '))
print(f'Seja bem-vindo {nome.strip().title()} {sobrenome.strip().title()}')
print(f'Você possui {idade} anos de idade.')

Nome: Odemir
Sobrenome: Depieri
Idade: 30
Seja bem-vindo Odemir Depieri
Você possui 30 anos de idade.

### 13ª Exercício ###

Escreva um programa que peça um número do usuário via método input e converta esse número para o formato float.

In [ ]:
num=input('Digite um número:: ')
num=float(num)
print(type(num))

Digite um número:: 12
<class 'float'>

### 14ª Exercício ###

Escreva um programa que peça o nome e a idade do usuário. Caso a idade do usuário seja maior ou igual a 18 anos apresente a seguinte mensagem: "Seja bem-vindo ao nosso site [nome]!"; caso contrário, apresente a seguinte mensagem: "Você não pode acessar nosso site [nome].".

In [ ]:
nome=input('Digite seu nome: ')
idade=int(input('Digite sua idade: '))
if idade>=18:
    print(f'Seja bem-vindo ao nosso site {nome.strip().title()}.')
else:
    print(f'Você não pode acessar nosso site {nome.strip().title()}.')

Digite seu nome: Odemir
Digite sua idade: 12
Você não pode acessar nosso site Odemir.

### 15ª Exercício ###

Elabore um programa para calcular a hipotenusa de um triângulo.

Dicas:

Veja o módulo math (math.hypot) <p>
Utilize a seguinte fórmula: hipotenusa=(a²+b²)¹/2:

In [ ]:
from math import hypot

cateto_a=float(input('Digite o Cateto Adjacente: '))
cateto_o=float(input('Digite o Cateto Oposto: '))

hipotenusa1=(cateto_a**2+cateto_o**2)**(1/2)  #forma de cálculo 1
hipotenusa2=hypot(cateto_a,cateto_o)  #forma de cálculo 2

print(f'Hipotenusa: {hipotenusa1}')
print(f'Hipotenusa: {hipotenusa2}')

Digite o Cateto Adjacente: 12
Digite o Cateto Oposto: 5
Hipotenusa: 13.0
Hipotenusa: 13.0

### 16ª Exercício ###

Faça um programa que recebe um número inteiro do usuário e calcule o fatorial deste número. <br>
Dica: utilize o módulo math do Python, especificamente math.fatorial.

In [ ]:
import math
num=int(input('Digite um número inteiro: '))
fatorial=math.factorial(num)
print(f'O fatorial de {num} é {fatorial}')

Digite um número inteiro: 10
O fatorial de 10 é 3628800

### 17ª Exercício ###

Escreva um programa que peça um número do usuário e calcule o logaritmo deste número nas bases 10 e 2.

Dica: utilize o módulo math.

In [ ]:
import math

num=float(input('Digite um número: '))
log1=math.log10(num)  #também podemos fazer: math.log(num,10)
log2=math.log(num,2)
print(f'O log de {num} na base 10 é {log1}')
print(f'O log de {num} na base 2 é {log2}')

Digite um número: 12
O log de 12.0 na base 10 é 1.0791812460476249
O log de 12.0 na base 2 é 3.5849625007211565

### 18ª Exercício ###

Faça um programa que peça a base e a altura de um retângulo e calcule e mostre na tela a área e o perímetro.

In [ ]:
base=float(input('Digite a base do retângulo: '))
altura=float(input('Digite a altura do retângulo: '))

area=base*altura
perimetro=2*base+2*altura

print(f'O retângulo digitado tem base {base} e altura {altura}.')
print(f'A área deste retângulo é: {area}')
print(f'O perímetro deste retângulo é: {perimetro}')

Digite a base do retângulo: 12
Digite a altura do retângulo: 3
O retângulo digitado tem base 12.0 e altura 3.0.
A área deste retângulo é: 36.0
O perímetro deste retângulo é: 30.0

### 19ª Exercício ###

Escreva um programa que solicite o nome, o sobrenome e o salário atual de um funcionário. Ao fim, calcule seu novo salário considerando cenários hipotéticos, com os seguintes aumentos: 10%, 25%,30% e 50%. A mensagem na tela deverá seguir o seguinte padrão:



"Olá, [nome] [sobrenome]"

"Seu salário atual é : [salário]"

"Seu salário com 10% de aumento é: [salário]"

"Seu salário com 25% de aumento é: [salário]"

"Seu salário com 30% de aumento é: [salário]"

"Seu salário com 50% de aumento é: [salário]"



No campo nome e sobrenome utilize os métodos strip() e title(). Lembre-se que o primeiro método permite remover os espaços antes e após a string, enquanto que o último permite colocar a string no formato titlecased (capitaliza string).

In [ ]:
nome=input('Digite seu nome: ').strip().title()
sobrenome=input('Digite seu sobrenome: ').strip().title()
salario=float(input('Digite seu salário: '))
salario1=salario+salario*0.1  #salário com 10% de aumento
salario2=salario+salario*0.25  #salário com 25% de aumento
salario3=salario+salario*0.3  #salário com 30% de aumento
salario4=salario+salario*0.5  #salário com 50% de aumento

print(f'Olá, {nome} {sobrenome}')
print(f'Seu salário atual é: R$ {salario:.2f}')
print(f'Seu salário com 10% de aumento é: R$ {salario1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario2:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario4:.2f}')

Digite seu nome: Odemir
Digite seu sobrenome: Depieri
Digite seu salário: 2500
Olá, Odemir Depieri
Seu salário atual é: R$ 2500.00
Seu salário com 10% de aumento é: R$ 2750.00
Seu salário com 25% de aumento é: R$ 3125.00
Seu salário com 30% de aumento é: R$ 3250.00
Seu salário com 50% de aumento é: R$ 3750.00

### 20ª Exercício ###

Escreva um programa que peça um número inteiro do usuário e calcule e imprima a tabuada deste número.

In [ ]:
num=int(input('Digite um número inteiro: \n'))
print(f'Tabuada do número: {num}')
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')
print(f'{num} x 10 = {num*10}')

Digite um número inteiro:
10
Tabuada do número: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

### 21ª Exercício ###

Faça um programa que solicite um número inteiro e mostre o seu valor absoluto.
Dica: use a função built-in abs().

In [ ]:
num=int(input('Digite um número inteiro: '))
print(f'O valor absoluto de {num} é {abs(num)}.')

Digite um número inteiro: 10
O valor absoluto de 10 é 10.

### 22ª Exercício ###

Faça um programa que peça uma string ao usuário e mostre na tela a quantidade de caracteres.

Dica: use a função built-in len() e trate a string com o método strip().

In [ ]:
string=input('Digite algo: ')
print(f'Você digitou: {string}')
print(f'Quantidade de caracteres do que você digitou é: {len(string)}')

Digite algo: Coxinha
Você digitou: Coxinha
Quantidade de caracteres do que você digitou é: 7

### 23ª Exercício ###

Escreva um programa que peça um número inteiro do usuário e mostre se esse número é par ou ímpar. A mensagem na tela deverá seguir o seguinte formato:

"O número [número] é [par/ímpar]"

In [ ]:
num=int(input('Número inteiro: '))
if num%2==0:
    print(f'O número {num} é par.')
else:
    print(f'O número é {num} é ímpar.')

Número inteiro: 100
O número 100 é par.

### 24ª Exercício ###

O Índice de Massa Corporal (IMC) é utilizado para mensurar o peso ideal de uma pessoa. Escreva um programa que peça o nome, a idade , o peso e a altura do usuário. Ao final calcule e mostre o resultado do seu IMC e classifique este resultado de acordo com a regra a seguir.



IMC<17 - Muito abaixo do peso ideal

17<=IMC<18,5 - Abaixo do peso

18,5<=IMC<25 - Peso normal

25<=IMC<30 - Acima do peso

30<=IMC<35 - Obesidade I

35<=IMC<40 - Obesidade II (severa)

IMC>=40 - Obesidade III (mórbida)



Lembre que: IMC=massa/(altura*altura)



Fonte: https://pt.wikipedia.org/wiki/%C3%8Dndice_de_massa_corporal

In [ ]:
print('Cálculo do IMC')
altura=float(input('Insira sua altura : \n'))
peso=float(input('Insira seu peso : \n'))
imc=peso/(altura*altura)  #poderíamos fazer peso/altura**2
print('Processando seus dados...')
if imc<17:
    print('Muito abaixo do peso.')
elif 17<=imc<18.5:
    print('Abaixo do peso.')
elif 18.5<=imc<25:
    print('Peso normal.')
elif 25<=imc<30:
    print('Acima do peso.')
elif 30<=imc<35:
    print('Obesidade Grau I.')
elif 35<=imc<40:
    print('Obesidade Grau II (severa).')
else:
    print('Obesidade Grau III (mórbida).')

Cálculo do IMC
Insira sua altura :
1.50
Insira seu peso :
45
Processando seus dados...
Peso normal.

### 25ª Exercício ###

Escreva um programa que receba dois números de ponto flutuante e mostre na tela o maior número digitado. Considere a possibilidade de o usuário digitar dois números iguais.

In [ ]:
n1=float(input('Valor 1 : '))
n2=float(input('Valor 2 : '))
if n1>n2:
    print(f'{n1}>{n2}')
elif n1==n2:
    print(f'{n1}={n2}')
else:
    print(f'{n1}<{n2}')

Valor 1 : 20.1
Valor 2 : 22.2
20.1<22.2

### 26ª Exercício ###

Escreva um programa que verifique se um determinado número digitado pelo usuário é nulo, positivo ou negativo.

In [ ]:
num=float(input('Digite um número: '))
if num>0:
    print('Número positivo.')
elif num==0:
    print('Número nulo.')
else:
    print('Número negativo.')

Digite um número: 100
Número positivo.

### 27ª Exercício ###

Escreva um programa que receba três números do usuário e mostre na tela o maior número digitado.

In [ ]:
numero1=float(input('Número 1: '))
numero2=float(input('Número 2: '))
numero3=float(input('Número 3: '))

if (numero1>=numero2) and (numero1>=numero3):
    print(f'Maior número: {numero1}')
elif (numero2>=numero1) and (numero2>=numero3):
    print(f'Maior número: {numero2}')
else:
    print(f'Maior número: {numero3}')

Número 1: 45
Número 2: 50
Número 3: 12
Maior número: 50.0

### 28ª Exercício ###

Escreva um programa que gere um número aleatório entre 1 e 100 e mostre na tela.

Dica: utilize o módulo random.

In [ ]:
import random
num=random.randint(1,100)
print(num)

63

### 29ª Exercício ###

Elabore um progama para verificar se um ano é bissexto ou não. A condição para ser um ano bissexto é: o ano deve ser divisível por 400; ou se for divisível por 4 e não for divisível por 100.

In [ ]:
ano=int(input('Ano : '))
if ano%400==0 or (ano%4==0 and not ano%100==0):
    print('Ano bissexto.')
else:
    print('Ano não bissexto.')

Ano : 20022
Ano não bissexto.

### 30ª Exercício ###

Elabore um programa para calcular o tamanho de uma string.

In [ ]:
string=input('Digite algo: ')
print(len(string))

Digite algo: Odemir
6

### 31ª Exercício ###

Utilize o módulo datetime e mostre na tela a data e hora atual do sistema de acordo com o formato descrito abaixo.

In [ ]:
import datetime

data_atual=datetime.datetime.now()
print(data_atual.strftime('%d/%m/%Y - %H:%M:%S'))

13/12/2022 - 19:28:07

### 32ª Exercício ###

Escreva um programa que inverta uma string. Exemplos:

Hello World!<p>
Python<p>
!dlroW olleH<p>
nohtyP<p>

In [ ]:
string1='Hello World!'
string2='Python'
print(string1)
print(string2)
print(string1[::-1])
print(string2[::-1])

Hello World!
Python
!dlroW olleH
nohtyP

### 33ª Exercício ###

Escreva um programa para mostrar na tela o calendário do mês de dezembro de 2020. Exemplo:

![image.png]()

Dica: importe o módulo calendar.

In [ ]:
import calendar
print(calendar.month(2020,12))

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

### 34ª Exercício ###

Modifique o programa anterior e permita que o usuário especifique o ano e o mês a serem mostrados na tela.

In [ ]:
import calendar
ano=int(input('Ano: '))
mes=int(input('Mês: '))

print(calendar.month(ano,mes))

Ano: 2022
Mês: 12
   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

### 35ª Exercício ###

Escreva um script que mostre na tela o preço de um produto associado a uma categoria especificada pelo usuário.  Utilize como referência as informações a seguir. Caso o usuário não digite uma categoria válida (número entre 1 e 10) mostre na tela uma mensagem personalizada.

![image.png]()

In [ ]:
categoria=int(input('Digite a categoria do produto: '))
if categoria==1:
    print('O preço do produto é: $ 0.5')
elif categoria==2:
    print('O preço do produto é: $ 11.3')
elif categoria==3:
    print('O preço do produto é: $ 17.5')
elif categoria==4:
    print('O preço do produto é: $ 33.97')
elif categoria==5:
    print('O preço do produto é: $ 103.47')
elif categoria==6:
    print('O preço do produto é: $ 44.67')
elif categoria==7:
    print('O preço do produto é: $ 12.55')
elif categoria==8:
    print('O preço do produto é: $ 14.87')
elif categoria==9:
    print('O preço do produto é: $ 98.12')
elif categoria==10:
    print('O preço do produto é: $ 131.4')
else:
    print('Opção inválida.')

Digite a categoria do produto: 4
O preço do produto é: $ 33.97

### 36ª Exercício ###

Resolva o exercício anterior para as categorias de 1 a 8. Utilize estruturas aninhadas.

In [ ]:
categoria=int(input('Categoria do produto: '))
if categoria==1:
    print('Preço: $ 0.5')
else:
    if categoria==2:
        print('Preço: $ 11.35')
    else:
        if categoria==3:
            print('Preço: $ 17.5')
        else:
            if categoria==4:
                print('Preço: $ 33.97')
            else:
                if categoria==5:
                    print('Preço: $ 103.47')
                else:
                    if categoria==6:
                        print('Preço: $ 44.67')
                    else:
                        if categoria==7:
                            print('Preço: $ 12.55')
                        else:
                            if categoria==8:
                                print('Preço: $ 14.87')
                            else:
                                print('Categoria inválida.')

Categoria do produto: 4
Preço: $ 33.97

### 37ª Exercício ###

Determine se uma letra inserida pelo usuário é uma vogal ou consoante. Armazene as vogais em uma lista e implemente sua solução. Desconsidere a possibilidade de o usuário inserir números ou caracteres especiais.

In [ ]:
letra=input('Digite uma letra: ')
vogais=['a','e','i','o','u']
if letra in vogais:
    print('A letra digitada é uma vogal.')
else:
    print('A letra digitada é uma consoante.')

Digite uma letra: t
A letra digitada é uma consoante.

### 38ª Exercício ###

Escreva um script para classificar um triângulo de acordo com o tamanho dos seus lados. Considere as seguintes informações:

Triângulo equilátero: todos os lados possuem o mesmo tamanho;

Trângulo escaleno: todos os lados possuem medidas diferentes;

Triângulo isósceles: caracterizado por ter dois lados com o mesmo tamanho.

In [ ]:
ladoA=float(input('Lado A: '))
ladoB=float(input('Lado B: '))
ladoC=float(input('Lado C: '))
if ladoA==ladoB==ladoC:
    print('O triângulo é equilátero.')
elif ladoA==ladoB or ladoA==ladoC or ladoB==ladoC:
    print('O triângulo é isósceles.')
else:
    print('O triângulo é escaleno.')

Lado A: 10
Lado B: 6
Lado C: 7
O triângulo é escaleno.

### 39ª Exercício ###

Implemente uma calculadora simples com as operações aritméticas básicas. O usuário deverá especificar a operação desejada (+,-,*,/) e seguidamente inserir dois valores. Caso, o usuário escolha divisão e insira o valor do denominar 0 mostre uma mensagem personalizada. Para os demais casos, mostre na tela o resultado da operação desejada.

In [ ]:
operacao=input('Escolha a operação deseja: (+,-,*,/)')
if operacao in ['+','-','*','/']:
    num1=float(input('Número 1: '))
    num2=float(input('Número 2: '))
    if operacao=='+':
        print(f'{num1}+{num2}={num1+num2}')
    elif operacao=='-':
        print(f'{num1}-{num2}={num1-num2}')
    elif operacao=='*':
        print(f'{num1}*{num2}={num1*num2}')
    else:
        if num2==0:
            print('O denominador precisa ser diferente de zero.')
        else:
            print(f'{num1}/{num2}={num1/num2}')
else:
    print('Opção inválida.')

Escolha a operação deseja: (+,-,*,/)-
Número 1: 10
Número 2: 2
10.0-2.0=8.0

### 40ª Exercício ###

Escreva um programa que mostre de 1 até 50 na tela.

In [ ]:
for num in range(1,51):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### 41ª Exercício ###

Escreva um programa que mostre de 50 até 1 na tela.

In [ ]:
for num in range(50,0,-1):
    print(num)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### 42ª Exercício ###

Escreva um programa que mostre de 150 até 200 na tela.

In [ ]:
for num in range(150,201):
    print(num)

150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

### 43ª Exercício ###

Escreva um programa de contagem regressiva, ou seja, imprima na tela o seguinte padrão numérico:

In [ ]:
for num in range(5,-1,-1):
    print(num)

5
4
3
2
1
0

### 44ª Exercício ###

Faça um programa que imprima na tela de 1 até um número digitado pelo usuário.

In [ ]:
num=int(input('Digite um número: '))  #receber número do usuário

for valor in range(1,num+1):
    print(valor)

Digite um número: 2
1
2

### 45ª Exercício ###

Escreva um programa que mostre na tela os 20 primeiros múltiplos de 5.

In [ ]:
lista=[]
x=1
#armazenando os números em uma lista
while len(lista)<20:
    if x%5==0:
        lista.append(x)
        x+=1
    x+=1

#mostrando os números na tela
for num in lista:
    print(num)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### 46ª Exercício ###

Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada (multiplicação) de um número inserido pelo usuário.

In [ ]:
valor=int(input('Tabuada:'))
for num in range(1,11):
    print(f'{valor} x {num} = {valor*num}')

Tabuada:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

### 47ª Exercício ###

Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada de multiplicação dos números entre 1 e 10, como segue.

![image.png]()

In [ ]:
for valor in range(1,11):
	for numero in range(1,11):
		print(f'{valor} x {numero} = {valor*numero}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

### 48ª Exercício ###

Em um único loop escreva um programa que mostre na tela de 1 a 10 três vezes e ao final mostre a mensagem Fim . No primeiro loop utilize for e nos dois loops seguintes while. O resultado do seu programa deverá ter o seguinte formato:

In [ ]:
#solução 1
x=1
for i in range(1,11):
    print(i)
    if i==10:
        while x<=10:
            print(x)
            x+=1
            if x==11:
                y=1
                while y<=10:
                    print(y)
                    y+=1
                    if y==11:
                        print('Fim')

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim

### 49ª Exercício ###

Escreva um programa que peça ao usuário números entre 0-10. Se o usuário inserir um número fora desse intervalo o programa deverá finalizar com uma mensagem personalizada.

In [ ]:
num=0
while 0<=num<=10:
    num=int(input('Insira um número inteiro entre 0-10: '))
    if num<0 or num>10:
        print('Fim do programa.')

Insira um número inteiro entre 0-10: 2
Insira um número inteiro entre 0-10: 1
Insira um número inteiro entre 0-10: 2
Insira um número inteiro entre 0-10: 2
Insira um número inteiro entre 0-10: 2
Insira um número inteiro entre 0-10: 2
Insira um número inteiro entre 0-10: 1
Insira um número inteiro entre 0-10: 10
Insira um número inteiro entre 0-10: 11
Fim do programa.

### 50ª Exercício ###

Em um único loop escreva um programa que mostre na tela de 0-5, cinco vezes e ao final mostre a mensagem Fim . Utilize apenas for em sua implementação. Seu programa deverá gerar um output com o seguinte formato:

In [ ]:
for i in range(0,6):
    print(i)

    if i==5:
        for j in range(0,6):
            print(j)

            if j==5:
                for k in range(0,6):
                    print(k)

                    if k==5:
                        for l in range(0,6):
                            print(l)

                            if l==5:
                                for m in range(0,6):
                                    print(m)

                                    if m==5:
                                        print('Fim')

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim